/*Isn't css fun?*/


/*This makes */
div.transparent div.modal-content {
    background-color: transparent !important;
    border: none !important;
}
div.transparent div.modal-content div.modal-header {
    background-color: transparent !important;
    border: none !important;
    padding-bottom: 0% !important;
    padding-top: 0% !important;
}

.translucent {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

/*I don't remember why i put this here but at this point i won't take it out either*/
@media (min-width: 576px) {
        .navAlign 
        {
            width: 81%;
        }

}

@media (max-width: 576px) {
    .smallWidthImg{
        position: absolute;
        top: 10%;
        width: 80% !important;
        left: 0;
        right: 0;
        z-index: -1;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .smallWidthTxt{
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 576px) {
    .smallWidthTxtBox{
        margin-top: 60%;
    }
}

/*This is the gradient for the offcanvas element. I set it to be active only when it is collapsed otherwise the nav looks junky AF*/
@media (max-width: 576px) {
    .offcanvas{
        background: rgb(200,245,195) !important;
    background: linear-gradient(0deg, rgba(195,245,243,1) 0%, rgba(189,240,164,1) 100%) !important;
    }
}


.autoMargin {
    margin-bottom: auto !important;
}


@media (min-height: 700px) {
    .autoMargin {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
}


.autoTextSize {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 576px) {
    .autoTextSize {
        font-size: calc(1.575rem + 3.9vw) !important;
        font-weight: 300;
        line-height: 1.5;
    }
}

@media (min-width: 577px) and (max-width: 1200px) {
    .autoTextSize {
        font-size: calc(1.575rem + 3.9vw) !important;
        font-weight: 300;
        line-height: 1.2;
    }
}   

@media (max-height: 700px) {
    .autoTextSize {
        font-size: calc(1.575rem + 3.9vh) !important;
        font-weight: 300;
        line-height: 1.2;
    }
}

  

