/*Isn't css fun?*/


/*This makes */
div.transparent div.modal-content {
    background-color: transparent !important;
    border: none !important;
}
div.transparent div.modal-content div.modal-header {
    background-color: transparent !important;
    border: none !important;
    padding-bottom: 0% !important;
    padding-top: 0% !important;
}

div.translucent {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

/*I don't remember why i put this here but at this point i won't take it out either*/
@media (min-width: 576px) {
        .navAlign 
        {
            width: 81%;
        }

}

/*This is the gradient for the offcanvas element. I set it to be active only when it is collapsed otherwise the nav looks junky AF*/
@media (max-width: 575px) {
    .offcanvas{
        background: rgb(200,245,195) !important;
    background: linear-gradient(0deg, rgba(195,245,243,1) 0%, rgba(189,240,164,1) 100%) !important;
    }
}

